{% extends "base.html" %}
{% block title %}Aged receivables{% endblock %}
{% block content %}
<h1 class="page-title mb-6">Aged receivables</h1>
<div class="card card-table">
  <table class="w-full text-sm">
    <thead class="table-head-row"><tr><th class="p-3">Bucket</th><th class="p-3">Invoices</th><th class="p-3 text-right">Total</th></tr></thead>
    <tbody>
      {% for bucket in ['current', '1-30', '31-60', '61-90', '90+'] %}
      <tr class="row-border">
        <td class="p-3 font-medium">{{ bucket }}{{ ' days' if bucket != 'current' else '' }}</td>
        <td class="p-3">{% for inv in buckets[bucket] %}<a class="link text-sm mr-2" href="{{ url_for('invoices.view_invoice', invoice_id=inv.id) }}">{{ inv.invoice_number }}</a>{% endfor %}</td>
        <td class="p-3 text-right">{{ "%.2f"|format(totals[bucket]) }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot><tr class="table-foot-total"><td class="p-3" colspan="2">Total outstanding</td><td class="p-3 text-right">{{ "%.2f"|format(grand_total) }}</td></tr></tfoot>
  </table>
</div>
{% endblock %}
